mat-toolbar {
  max-height: 8vh;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-toolbar button {
  -webkit-app-region: no-drag;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
